:root {
    --color-primary: #FFBB12;
    --color-background: #F9F8F6;
    --color-black: #464237;
    --color-gray: #C7C4BE;
    --color-error: red;
}

* {
    margin: 0;
    padding: 0;
    color: var(--color-black);
    font-family: 'Helvetica', sans-serif;
}

body {
    border-top: 8px solid var(--color-primary);
    border-bottom: 8px solid var(--color-primary);
    background-color: var(--color-background);
}

.form-title {
    margin: 0 auto;
    width: 100vw;
    max-width: 800px;
    position: relative;
}

.form-title h1 {
    font-size: 60px;
    padding: 20px 0px;
    color: var(--color-black);
}


.form-title::after {
    content: '';
    width: 45px;
    height: 40px;
    background-color: rgba(255, 187, 18, 0.8);
    position: absolute;
    top: 20px;
    left: -8px;
    z-index: -1;
    border-radius: 5px;
}

span {
    font-size: 30px;
    padding: 0px 10px;
    color: var(--color-primary);

}

.form-body h3 {
    font-size: 20px;
    padding: 15px;
}

.form-body {
    width: 100vw;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 25px;
    box-shadow: 0px 2px 18px -12px rgba(70, 66, 55, 1);
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;

}

.form-group {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.form-group label {
    font-size: 22px;
    margin-left: 80px;
    position: absolute;
    top: 85px;
    left: 0;
    transition: .4s;
    letter-spacing: 0.1em;
}

.form-group input {
    margin: 0 auto;
    width: 70%;
    height: 55px;
    margin-top: 58px;
    /*border-radius: 4px;*/
    outline: none;
    font-size: 28px;
    padding: 5px 33px;
    border: 0.5px solid;
    color: var(--color-black);
    border: none;
    background: transparent;
    border-bottom: 3px solid var(--color-black);
    letter-spacing: 0.1em;
}

.form-body input.error {
    border-bottom: 3px solid var(--color-error);
    box-shadow: 0.2px 4px 0px -2px rgba(255, 0, 0, 0.3);
}

.form-group input:focus {
    border-bottom: 3px solid var(--color-primary);
    box-shadow: 0.2px 4px 0px -2px rgba(255, 187, 18, 0.4);
}

.form-body input.error:focus {
    border-bottom: 3px solid var(--color-error);
    box-shadow: 0.2px 4px 0px -2px rgba(255, 0, 0, 0.3);
}

.form-group input:focus ~  label, 
.form-group input:not(:placeholder-shown) ~  label {
    transform: translateY(-48px);
    font-size: 1.2em;
    color: var(--color-black);
}

input::-webkit-input-placeholder {
    color: transparent;
}
input:-moz-placeholder {
    color: transparent;
}
input::-moz-placeholder {
    color: transparent;
}
input:-ms-input-placeholder {
    color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px rgba(255, 187, 18, 0.4) inset !important;
}

.form-group i {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 120px;
    bottom: 34px;
    color: var(--color-primary);
    filter: drop-shadow(1px 1px 1px var(--color-black));
    transition: opacity 0.2s ease;
}

.form-footer {
    max-width: 100vw;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.form-footer input {
    padding: 0px 90px;
    font-size: 28px;
    background: var(--color-primary);
    color: #764702;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.form-footer input:active {
    background-color: rgba(255, 187, 18, 0.8);
}

span.error {
    margin: 0 auto;
    display: flex;
    padding: 0;
    background-color: rgba(255, 0, 0, 0.2);
    color: var(--color-black);
    margin-top: 10px;
    font-size: 20px;
    width: 70%;
    position: absolute;
    bottom:-30px;
    left: 90px;
}

span.error.active {
    border: 3px solid var(--color-error);
    padding: 0.4em;  
}


.container-mensagens {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
}

.toast {
    color: var(--color-white);
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.toast.red {
    background-color: rgba(255, 0, 0, 0.2);
    box-shadow: 0.2px 4px 0px -2px rgba(255, 0, 0, 0.3);
    
}

.toast.yellow {
    background-color: var(--color-primary);
    box-shadow: 0.2px 4px 0px -2px rgba(255, 187, 18, 0.4);
}